# Copyright © 2020 Ismael Belisario

# This file is part of Open Translation.

# Open Translation is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Open Translation is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Open Translation. If not, see <https://www.gnu.org/licenses/>.

# Script Name: .gitignore
# Path what ignore git in the control of version.

# Dirs.
*__pycache__
*.vscode
cp
cpall
Spam

# Files

## Char (Aplet).
*.cr
*.tc

## C/C++.
*.exe

## Plain Text.
*.txt

## Ruby.
*.rb

## Zip.
*.zip

## Rust
start.rs
start.pdb

## Inside.
data/settings/decoder.py
data/extensions/door/studier.tcl
data/extensions/door/menu.tcl
#data/otgraphic/windows.py
data/custom.c
data/otgraphic/turtledemo
data/otgraphic/git-gui 
test.py
embeber
test.*
# data/utilities.py